.hex-grid .hex.active {
    transform:scale(1.5);
    z-index: 2000;
}

.hex-grid .hex:not(.active):hover {
    transform:scale(1.5);
    z-index: 1000;
}

.hex-grid .fleet-management-window {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 15px;
    width: 500px;
    min-height: 300px;
    max-height: 500px; /*determine necessary value once testing complete*/
    z-index: 3000;
    font-size: 14px;
}

.fleet-management-window .fleet-mgmt-header {
    text-align: center;
    font-size: 24px;
    display: block;
}

.fleet-management-window #fleet-management-window-close {
  bottom: 10px;
  position: absolute;
}

.fleet-management-window .player-select {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.fleet-management-window .player-select label {
    font-weight: bold;
}

.fleet-management-window .player-select select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.fleet-management-window .player-select select:focus {
    outline: none;
    border-color: #666;
}