{% load static %}
<div id="fleet" class="tab-pane">
    <h2>Fleet Manager</h2>
    <p>Don't have a TTS String? Generate a game (6 player only):
        <a href="https://milty.shenanigans.be/" target="_blank">https://milty.shenanigans.be/</a>
    </p>
    <div class="tts-input-container">
        <input type="text" id="tts-input-fleet" placeholder="Paste TTS String from Milty draft tool">
        <button onclick="generateGame('fleet')">Generate</button>
        <button id="fleet-manager-export" onclick="exportFleetManagerToMoveSuggester()" disabled>
            Export to Move Suggester
        </button>
    </div>
    <div>
        <button onclick="saveGameData()">Save Game State</button>
        <input type="file" id="load-game-data" accept=".json" onchange="loadGameData(event)" style="display: inline-block;" />
        <button onclick="copyGameData()">Copy to Clipboard</button>
    </div>
    <p id="game-data-message" style="color: green;"></p>
    <div id="board-preview fleet" class="board-preview">
        <div class="grid-wrapper">
            <div class="hex-grid fleet">
                <!-- 37 empty hexes -->
                <div class="hex mecatol" data-position="0-0"><span class="designation-text">0-0</span></div>
                <!-- Inner Ring (6 tiles) -->
                <div class="hex inner" data-position="1-4"><span class="designation-text">1-4</span></div>
                <div class="hex inner" data-position="2-4"><span class="designation-text">2-4</span></div>
                <div class="hex inner" data-position="3-4"><span class="designation-text">3-4</span></div>
                <div class="hex inner" data-position="4-4"><span class="designation-text">4-4</span></div>
                <div class="hex inner" data-position="5-4"><span class="designation-text">5-4</span></div>
                <div class="hex inner" data-position="6-4"><span class="designation-text">6-4</span></div>
                <!-- Middle Ring (12 tiles) -->
                <div class="hex middle" data-position="1-1"><span class="designation-text">1-1</span></div>
                <div class="hex middle" data-position="1-3"><span class="designation-text">1-3</span></div>
                <div class="hex middle" data-position="2-1"><span class="designation-text">2-1</span></div>
                <div class="hex middle" data-position="2-3"><span class="designation-text">2-3</span></div>
                <div class="hex middle" data-position="3-1"><span class="designation-text">3-1</span></div>
                <div class="hex middle" data-position="3-3"><span class="designation-text">3-3</span></div>
                <div class="hex middle" data-position="4-1"><span class="designation-text">4-1</span></div>
                <div class="hex middle" data-position="4-3"><span class="designation-text">4-3</span></div>
                <div class="hex middle" data-position="5-1"><span class="designation-text">5-1</span></div>
                <div class="hex middle" data-position="5-3"><span class="designation-text">5-3</span></div>
                <div class="hex middle" data-position="6-1"><span class="designation-text">6-1</span></div>
                <div class="hex middle" data-position="6-3"><span class="designation-text">6-3</span></div>
                <!-- Outer Ring (18 tiles) -->
                <div class="hex" data-position="1"><span class="designation-text">1</span></div>
                <div class="hex" data-position="1-0"><span class="designation-text">1-0</span></div>
                <div class="hex" data-position="2-2"><span class="designation-text">2-2</span></div>
                <div class="hex" data-position="2"><span class="designation-text">2</span></div>
                <div class="hex" data-position="2-0"><span class="designation-text">2-0</span></div>
                <div class="hex" data-position="3-2"><span class="designation-text">3-2</span></div>
                <div class="hex" data-position="3"><span class="designation-text">3</span></div>
                <div class="hex" data-position="3-0"><span class="designation-text">3-0</span></div>
                <div class="hex" data-position="4-2"><span class="designation-text">4-2</span></div>
                <div class="hex" data-position="4"><span class="designation-text">4</span></div>
                <div class="hex" data-position="4-0"><span class="designation-text">4-0</span></div>
                <div class="hex" data-position="5-2"><span class="designation-text">5-2</span></div>
                <div class="hex" data-position="5"><span class="designation-text">5</span></div>
                <div class="hex" data-position="5-0"><span class="designation-text">5-0</span></div>
                <div class="hex" data-position="6-2"><span class="designation-text">6-2</span></div>
                <div class="hex" data-position="6"><span class="designation-text">6</span></div>
                <div class="hex" data-position="6-0"><span class="designation-text">6-0</span></div>
                <div class="hex" data-position="1-2"><span class="designation-text">1-2</span></div>

                {% include 'fleet_mgmt.html' %}
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="static/css/fleet_manager.css">
    <script src="static/js/fleet_manager.js"></script>
</div>