{% load static %}
<div id="settings" class="tab-pane active">
    <h3>Settings</h3>
    <form id="settings-form">
        <p id="settings-info" style="color: green;">
            You will need at least one API key to use all the features of Oracle Rex.
        </p>
        <label for="xai-api-key">xAI API Key:</label>
        <input type="text" id="xai-api-key" placeholder="Enter your xAI API key" style="width: 650px;"/><br><br>

        <label for="openai-api-key">OpenAI API Key:</label>
        <input type="text" id="openai-api-key" placeholder="Enter your OpenAI API key" style="width: 1250px;"/><br><br>
    </form>
    <p id="settings-warning" style="color: red;">
        Warning: API keys entered here are stored in your browser's local storage and may be visible to others if your
        device is compromised.
    </p>

    <div id="model-selection-header">
        <h3>Model Selection</h3>
        <p id="model-selection-info" style="color: green;">
            Recommended models are selected. Be sure you have a corresponding API key for every AI type selected.
        </p>
    </div>

    <div id="rules-ai-select-div">
      <h4>Rules Q&A</h4>
      <div>
        <input type="radio" id="rules-gpt-4.1" name="rules-ai-model" value="gpt-4.1" data-api-make="openai">
        <label for="rules-gpt-4.1">GPT-4.1</label>
        <input type="radio" id="rules-gpt-4.1-nano" name="rules-ai-model" value="gpt-4.1-nano" data-api-make="openai" checked>
        <label for="rules-gpt-4.1-nano">GPT-4.1-nano</label>
        <input type="radio" id="rules-grok-3-latest" name="rules-ai-model" value="grok-3-latest" data-api-make="xai">
        <label for="rules-grok-3-latest">Grok 3 Latest</label>
      </div>
    </div>

    <div id="strategy-suggester-ai-select-div">
      <h4>Strategy Suggester</h4>
      <div>
        <input type="radio" id="strategy-gpt-4.1" name="strategy-ai-model" value="gpt-4.1" data-api-make="openai">
        <label for="rules-gpt-4.1">GPT-4.1</label>
        <input type="radio" id="strategy-gpt-4.1-nano" name="strategy-ai-model" value="gpt-4.1-nano" data-api-make="openai">
        <label for="rules-gpt-4.1-nano">GPT-4.1-nano</label>
        <input type="radio" id="strategy-grok-3-latest" name="strategy-ai-model" value="grok-3-latest" data-api-make="xai" checked>
        <label for="strategy-grok-3-latest">Grok 3 Latest</label>
      </div>
    </div>

    <div id="move-suggester-ai-select-div">
      <h4>Move Suggester</h4>
      <div>
        <input type="radio" id="move-gpt-4.1" name="move-ai-model" value="gpt-4.1" data-api-make="openai" checked>
        <label for="rules-gpt-4.1">GPT-4.1</label>
        <input type="radio" id="move-gpt-4.1-nano" name="move-ai-model" value="gpt-4.1-nano" data-api-make="openai">
        <label for="rules-gpt-4.1-nano">GPT-4.1-nano</label>
        <input type="radio" id="move-grok-3-latest" name="move-ai-model" value="grok-3-latest" data-api-make="xai">
        <label for="move-grok-3-latest">Grok 3 Latest</label>
      </div>
    </div>

    <div id="tactical-calculator-ai-select-div">
      <h4>Tactical Calculator</h4>
      <div>
        <input type="radio" id="tactical-gpt-4.1" name="tactical-ai-model" value="gpt-4.1" data-api-make="openai">
        <label for="rules-gpt-4.1">GPT-4.1</label>
        <input type="radio" id="tactical-gpt-4.1-nano" name="tactical-ai-model" value="gpt-4.1-nano" data-api-make="openai" checked>
        <label for="rules-gpt-4.1-nano">GPT-4.1-nano</label>
        <input type="radio" id="tactical-grok-3-latest" name="tactical-ai-model" value="grok-3-latest" data-api-make="xai">
        <label for="tactical-grok-3-latest">Grok 3 Latest</label>
      </div>
    </div>
</div>