<div id="fleet-management-window" class="fleet-management-window" style="display: none;">
    <span class="fleet-mgmt-header">Fleet Management</span>

    <div id="fleet-section">
        <h3>Fleet</h3>
        <div class="player-select">
            <label for="fleet-management-fleet-owner">Owner:</label>
            <select id="fleet-management-fleet-owner">
                <option value="Player 1" selected>Player 1</option>
                <option value="Player 2">Player 2</option>
                <option value="Player 3">Player 3</option>
                <option value="Player 4">Player 4</option>
                <option value="Player 5">Player 5</option>
                <option value="Player 6">Player 6</option>
            </select>
        </div>
        <div class="fleet-section">
            <div class="unit-row" data-unit="fighter">
                <span class="unit-icon"><img src="/static/images/ships/fighter_icon.png" class="ship-icon"
                                             alt="Fighter"><span class="tooltiptext">Fighter</span></span>
                <div class="arrow-container">
                    <button class="arrow up" data-unit="fighter">▲</button>
                    <button class="arrow down" data-unit="fighter">▼</button>
                </div>
                <span class="unit-count" id="fleet-fighter-count">0</span>
            </div>
            <div class="unit-row" data-unit="destroyer">
                <span class="unit-icon"><img src="/static/images/ships/destroyer_icon.png" class="ship-icon"
                                             alt="Destroyer"><span class="tooltiptext">Destroyer</span></span>
                <div class="arrow-container">
                    <button class="arrow up" data-unit="destroyer">▲</button>
                    <button class="arrow down" data-unit="destroyer">▼</button>
                </div>
                <span class="unit-count" id="fleet-destroyer-count">0</span>
            </div>
            <div class="unit-row" data-unit="cruiser">
                <span class="unit-icon"><img src="/static/images/ships/cruiser_icon.png" class="ship-icon"
                                             alt="Cruiser"><span class="tooltiptext">Cruiser</span></span>
                <div class="arrow-container">
                    <button class="arrow up" data-unit="cruiser">▲</button>
                    <button class="arrow down" data-unit="cruiser">▼</button>
                </div>
                <span class="unit-count" id="fleet-cruiser-count">0</span>
            </div>
            <div class="unit-row" data-unit="carrier">
                <span class="unit-icon"><img src="/static/images/ships/carrier_icon.png" class="ship-icon"
                                             alt="Carrier"><span class="tooltiptext">Carrier</span></span>
                <div class="arrow-container">
                    <button class="arrow up" data-unit="carrier">▲</button>
                    <button class="arrow down" data-unit="carrier">▼</button>
                </div>
                <span class="unit-count" id="fleet-carrier-count">0</span>
            </div>
            <div class="unit-row" data-unit="dreadnought">
                <span class="unit-icon"><img src="/static/images/ships/dread_icon.png" class="ship-icon"
                                             alt="Dreadnought"><span class="tooltiptext">Dreadnought</span></span>
                <div class="arrow-container">
                    <button class="arrow up" data-unit="dreadnought">▲</button>
                    <button class="arrow down" data-unit="dreadnought">▼</button>
                </div>
                <span class="unit-count" id="fleet-dreadnought-count">0</span>
            </div>
            <div class="unit-row" data-unit="war_sun">
                <span class="unit-icon"><img src="/static/images/ships/war_sun_icon.png" class="ship-icon"
                                             alt="War Sun"><span class="tooltiptext">War Sun</span></span>
                <div class="arrow-container">
                    <button class="arrow up" data-unit="war_sun">▲</button>
                    <button class="arrow down" data-unit="war_sun">▼</button>
                </div>
                <span class="unit-count" id="fleet-war_sun-count">0</span>
            </div>
            <div class="unit-row" data-unit="flagship">
                <span class="unit-icon"><img src="/static/images/ships/flagship_icon.png" class="ship-icon"
                                             alt="Flagship"><span class="tooltiptext">Flagship</span></span>
                <div class="arrow-container">
                    <button class="arrow up" data-unit="flagship">▲</button>
                    <button class="arrow down" data-unit="flagship">▼</button>
                </div>
                <span class="unit-count" id="fleet-flagship-count">0</span>
            </div>
            <div class="unit-row" data-unit="infantry">
                <span class="unit-icon"><img src="/static/images/ground/infantry_icon.png" class="ship-icon"
                                             alt="Infantry"><span class="tooltiptext">Infantry</span></span>
                <div class="arrow-container">
                    <button class="arrow up" data-unit="infantry">▲</button>
                    <button class="arrow down" data-unit="infantry">▼</button>
                </div>
                <span class="unit-count" id="fleet-infantry-count">0</span>
            </div>
            <div class="unit-row" data-unit="mech">
                <span class="unit-icon"><img src="/static/images/ground/mech_icon.png" class="ship-icon"
                                             alt="Mech"><span class="tooltiptext">Mech</span></span>
                <div class="arrow-container">
                    <button class="arrow up" data-unit="mech">▲</button>
                    <button class="arrow down" data-unit="mech">▼</button>
                </div>
                <span class="unit-count" id="fleet-mech-count">0</span>
            </div>
        </div>
    </div>

    <div id="planets-section">
        <h3>Planets</h3>
        <div id="fleet-mgmt-planet-one" class="planet-row active">
            <div class="planet-name-owner">
                <h2>PlanetOne</h2>
                <div class="player-select">
                    <label for="fleet-mgmt-planet-one-owner">Owner:</label>
                    <select id="fleet-mgmt-planet-one-owner" class="planet-owner-selector" data-planet-index="0">
                        <option value="None" selected>None</option>
                        <option value="Player 1">Player 1</option>
                        <option value="Player 2">Player 2</option>
                        <option value="Player 3">Player 3</option>
                        <option value="Player 4">Player 4</option>
                        <option value="Player 5">Player 5</option>
                        <option value="Player 6">Player 6</option>
                    </select>
                </div>
            </div>

            <div class="ground-section">
                <div class="unit-row" data-unit="infantry">
                <span class="unit-icon"><img src="/static/images/ground/infantry_icon.png" class="ship-icon"
                                             alt="Infantry"><span class="tooltiptext">Infantry</span></span>
                    <div class="arrow-container" data-planet-index="0">
                        <button class="arrow up" data-unit="infantry">▲</button>
                        <button class="arrow down" data-unit="infantry">▼</button>
                    </div>
                    <span class="unit-count" id="fleet-mgmt-planet-one-infantry-count">0</span>
                </div>
                <div class="unit-row" data-unit="mech">
                <span class="unit-icon"><img src="/static/images/ground/mech_icon.png" class="ship-icon"
                                             alt="Mech"><span class="tooltiptext">Mech</span></span>
                    <div class="arrow-container" data-planet-index="0">
                        <button class="arrow up" data-unit="mech">▲</button>
                        <button class="arrow down" data-unit="mech">▼</button>
                    </div>
                    <span class="unit-count" id="fleet-mgmt-planet-one-mech-count">0</span>
                </div>
                <div class="unit-row" data-unit="pds">
                <span class="unit-icon"><img src="/static/images/structures/pds_icon.png" class="ship-icon"
                                             alt="PDS"><span class="tooltiptext">PDS</span></span>
                    <div class="arrow-container" data-planet-index="0">
                        <button class="arrow up" data-unit="pds">▲</button>
                        <button class="arrow down" data-unit="pds">▼</button>
                    </div>
                    <span class="unit-count" id="fleet-mgmt-planet-one-pds-count">0</span>
                </div>
                <div class="unit-row" data-unit="space_dock">
                <span class="unit-icon"><img src="/static/images/structures/space_dock_icon.png" class="ship-icon"
                                             alt="Space Dock"><span class="tooltiptext">Space Dock</span></span>
                    <div class="arrow-container" data-planet-index="0">
                        <button class="arrow up" data-unit="space_dock">▲</button>
                        <button class="arrow down" data-unit="space_dock">▼</button>
                    </div>
                    <span class="unit-count" id="fleet-mgmt-planet-one-space_dock-count">0</span>
                </div>
            </div>
        </div>
        <div id="fleet-mgmt-planet-two" class="planet-row">
            <div class="planet-name-owner">
                <h2>PlanetTwo</h2>
                <div class="player-select">
                    <label for="fleet-mgmt-planet-two-owner">Owner:</label>
                    <select id="fleet-mgmt-planet-two-owner" class="planet-owner-selector" data-planet-index="1">
                        <option value="None" selected>None</option>
                        <option value="Player 1">Player 1</option>
                        <option value="Player 2">Player 2</option>
                        <option value="Player 3">Player 3</option>
                        <option value="Player 4">Player 4</option>
                        <option value="Player 5">Player 5</option>
                        <option value="Player 6">Player 6</option>
                    </select>
                </div>
            </div>

            <div class="ground-section">
                <div class="unit-row" data-unit="infantry">
                <span class="unit-icon"><img src="/static/images/ground/infantry_icon.png" class="ship-icon"
                                             alt="Infantry"><span class="tooltiptext">Infantry</span></span>
                    <div class="arrow-container" data-planet-index="1">
                        <button class="arrow up" data-unit="infantry">▲</button>
                        <button class="arrow down" data-unit="infantry">▼</button>
                    </div>
                    <span class="unit-count" id="fleet-mgmt-planet-two-infantry-count">0</span>
                </div>
                <div class="unit-row" data-unit="mech">
                <span class="unit-icon"><img src="/static/images/ground/mech_icon.png" class="ship-icon"
                                             alt="Mech"><span class="tooltiptext">Mech</span></span>
                    <div class="arrow-container" data-planet-index="1">
                        <button class="arrow up" data-unit="mech">▲</button>
                        <button class="arrow down" data-unit="mech">▼</button>
                    </div>
                    <span class="unit-count" id="fleet-mgmt-planet-two-mech-count">0</span>
                </div>
                <div class="unit-row" data-unit="pds">
                <span class="unit-icon"><img src="/static/images/structures/pds_icon.png" class="ship-icon"
                                             alt="PDS"><span class="tooltiptext">PDS</span></span>
                    <div class="arrow-container" data-planet-index="1">
                        <button class="arrow up" data-unit="pds">▲</button>
                        <button class="arrow down" data-unit="pds">▼</button>
                    </div>
                    <span class="unit-count" id="fleet-mgmt-planet-two-pds-count">0</span>
                </div>
                <div class="unit-row" data-unit="space_dock">
                <span class="unit-icon"><img src="/static/images/structures/space_dock_icon.png" class="ship-icon"
                                             alt="Space Dock"><span class="tooltiptext">Space Dock</span></span>
                    <div class="arrow-container" data-planet-index="1">
                        <button class="arrow up" data-unit="space_dock">▲</button>
                        <button class="arrow down" data-unit="space_dock">▼</button>
                    </div>
                    <span class="unit-count" id="fleet-mgmt-planet-two-space_dock-count">0</span>
                </div>
            </div>
        </div>
        <div id="fleet-mgmt-planet-three" class="planet-row">
            <div class="planet-name-owner">
                <h2>PlanetThree</h2>
                <div class="player-select">
                    <label for="fleet-mgmt-planet-three-owner">Owner:</label>
                    <select id="fleet-mgmt-planet-three-owner" class="planet-owner-selector" data-planet-index="2">
                        <option value="None" selected>None</option>
                        <option value="Player 1">Player 1</option>
                        <option value="Player 2">Player 2</option>
                        <option value="Player 3">Player 3</option>
                        <option value="Player 4">Player 4</option>
                        <option value="Player 5">Player 5</option>
                        <option value="Player 6">Player 6</option>
                    </select>
                </div>
            </div>

            <div class="ground-section">
                <div class="unit-row" data-unit="infantry">
                <span class="unit-icon"><img src="/static/images/ground/infantry_icon.png" class="ship-icon"
                                             alt="Infantry"><span class="tooltiptext">Infantry</span></span>
                    <div class="arrow-container" data-planet-index="2">
                        <button class="arrow up" data-unit="infantry">▲</button>
                        <button class="arrow down" data-unit="infantry">▼</button>
                    </div>
                    <span class="unit-count" id="fleet-mgmt-planet-three-infantry-count">0</span>
                </div>
                <div class="unit-row" data-unit="mech">
                <span class="unit-icon"><img src="/static/images/ground/mech_icon.png" class="ship-icon"
                                             alt="Mech"><span class="tooltiptext">Mech</span></span>
                    <div class="arrow-container" data-planet-index="2">
                        <button class="arrow up" data-unit="mech">▲</button>
                        <button class="arrow down" data-unit="mech">▼</button>
                    </div>
                    <span class="unit-count" id="fleet-mgmt-planet-three-mech-count">0</span>
                </div>
                <div class="unit-row" data-unit="pds">
                <span class="unit-icon"><img src="/static/images/structures/pds_icon.png" class="ship-icon"
                                             alt="PDS"><span class="tooltiptext">PDS</span></span>
                    <div class="arrow-container" data-planet-index="2">
                        <button class="arrow up" data-unit="pds">▲</button>
                        <button class="arrow down" data-unit="pds">▼</button>
                    </div>
                    <span class="unit-count" id="fleet-mgmt-planet-three-pds-count">0</span>
                </div>
                <div class="unit-row" data-unit="space_dock">
                <span class="unit-icon"><img src="/static/images/structures/space_dock_icon.png" class="ship-icon"
                                             alt="Space Dock"><span class="tooltiptext">Space Dock</span></span>
                    <div class="arrow-container" data-planet-index="2">
                        <button class="arrow up" data-unit="space_dock">▲</button>
                        <button class="arrow down" data-unit="space_dock">▼</button>
                    </div>
                    <span class="unit-count" id="fleet-mgmt-planet-three-space_dock-count">0</span>
                </div>
            </div>
        </div>

    </div>

    <button id="fleet-management-window-close" onclick="closeFleetManagerWindow()">Close</button>
</div>